extends layout

block content
  h1= title
  div(class="author")
    ul
     each val in authors
      li= val
  div(class="comment")
    ul
     each val in comments
      li= val
  div(class="container")
   div(class='removed')
   div(class='added')
footer